<hr><hr><hr><hr><hr>

<div>
<img src="assets/images/logo.jpg"  class="center">
</div>

<div>
  <h2>Nandini Cafe Treats!</h2>
  <h5>Only Shop in wholesale price through online for the End Customers</h5>
  <p> NCT Supermarket offer Customers the best service.
      We make sure to give Customers low prices with the best value.</p>
  <p>Exclusive Narasus Products Available.</p>
  <p>For Delivery and any queries, please contact 9944370922/8754084538.</p>
</div>

<div>
  <h3>Contact Us</h3>
  <div>
    <span class="bi bi-geo">
      No:R-77, Ground Floor, MMDA Colony, Water Tank Road, Arumbakkam,Near Poorvika Showroom,
         Chennai - 600029
    </span>
    <div class="bi bi-mailbox">
      nctmegastore@gmail.com
    </div>
    <div class="bi bi-phone">
      9944370922/8754084538.
    </div>
  </div>
</div>


