<div class="login-status-header">
  <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
    Welcome Back {{ userFullName }}!
  </div>


  <div class="security-btn" data-toggle="tooltip" data-placement="bottom"
       title="R-77,
  Ground Floor,
  MMDA Colony, Water Tank Road,
  Arumbakkam,
  Near Poorvika Showroom,
  Chennai - 600029">
    <span class="bi bi-geo ">Location</span>
  </div>

  <div class="security-btn ml-1" data-toggle="tooltip" data-placement="bottom" title="Call Us For Delivery!">
    <span class="bi bi-phone ">9944370922</span>
  </div>

  <div *ngIf="!orderHistory">
  <button  routerLink="/login" class="security-btn">Login</button>
  </div>


  <div *ngIf="memberShow">
  <button routerLink = "/members" class="security-btn ml-1">Member</button>
  </div>

  <div *ngIf="orderHistory">
      <button routerLink = "/order-history" class="security-btn ml-3" >Orders</button>
      <button (click)="logout()" class="security-btn">Logout</button>
  </div>
</div>
