<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">

        <!--Loop over the collection of products -->
        <div *ngFor = "let prod of products" class="col-md-3">
          <div class="product-box">

            <img src="{{ prod.imageUrl }}" class="img-responsive">

            <!--<a routerLink="product/getInfo/{{prod.id}}">
            <h1>{{prod.name}}</h1>
            </a>-->
            <h1>{{prod.name}}</h1>

            <!--<button class="au-btn-submit" (click)="doSearch(prod.id)">
              <span class="bi bi-info"> Info </span>
            </button>-->
            <div class="price"> <b>{{prod.discountPrice | currency:'INR'}}</b></div>
            <div *ngIf = "prod.unitPrice!=prod.discountPrice"> <strike>{{prod.unitPrice | currency:'INR'}}</strike></div>
            <button (click)="addToCart(prod)" class="btn btn-primary btn-sm">Add to cart</button>
          </div>
        </div>

        <!--If product is Empty-->
        <div *ngIf = "products?.length==0" class="alert alert-warning col-md-12" role="alert">
          No Products Found!
        </div>

      </div>

      <!--Begin Footer-->
      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9" style="padding-left: 30%">
                <ngb-pagination [(page)]="thePageNumber"
                                [(pageSize)]="thePageSize"
                                [collectionSize]="theTotalElements"
                                [maxSize]="5"
                                [boundaryLinks]="true"
                                (pageChange)="listProducts()">

                </ngb-pagination>
              </div>
              <div class="col-md-3 mt-2" style="text-align: right;">
                <span class="mr-5">Page Size</span>
                <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
                  <option selected="true">50</option>
                  <option>10</option>
                  <option>20</option>
                  <option>30</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- End Footer-->

    </div>
  </div>
</div>
