<form class="form-header">

  <button routerLink="/about"
          class="au-btn-submit"
          style="margin-right: 0px;margin-left: 30px;border-top-right-radius: 70px;"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Call Us For Enquiry or Delivery!
    R-77, Ground Floor,
    MMDA Colony, Water Tank Road,
    Arumbakkam - Chennai - 600106.
    LandMark: Poorvika Showroom,Imatrix Technologies,
    Mobile:9944370922,8754084538">
    <span class="bi bi-geo "></span>

    <span class="bi bi-phone "></span>
  </button>


  <input #myInput type="text" class="au-input au-input-xl"
         (keyup.enter)="doSearch(myInput.value)"
         placeholder="Search for products ..." >
  <span>
  <button class="au-btn-submit"  style="height: 45px;margin-right: 20px;margin-left: 10px;border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;"  (click)="doSearch(myInput.value)" >
    Search
  </button>
  </span>
</form>
